n8n_workflows/_backup_sincronizar_pedido.json
{
  "updatedAt": "2026-05-29T17:52:22.673Z",
  "createdAt": "2026-05-29T16:40:43.625Z",
  "id": "fRn3EyKJLWIxEX3l",
  "name": "Sincronização Pedido → ERPNext (Processo Completo)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp/sincronizar-pedido",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f071773d-0039-48ce-b0b2-0306916b90f5",
      "name": "Webhook",
      "webhookId": "d00c4d3d-f832-4341-935d-7bf8568b0207"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst onlyDigits = (s) => (s ? String(s).replace(/\\D/g, '') : '');\nconst companies = body.companies || [];\nconst contacts = body.contacts || [];\nconst products = body.products || [];\nconst co = companies[0] || {};\nconst ct = contacts[0] || {};\nconst cnpj = onlyDigits(co.cnpj);\nconst isPJ = cnpj.length === 14;\nconst customer = {\n  customer_name: co.name || ((ct.firstname || '') + ' ' + (ct.lastname || '')).trim() || 'Cliente HubSpot',\n  customer_type: isPJ ? 'Company' : 'Individual',\n  customer_group: 'Comercial',\n  territory: 'Brazil',\n  tax_id: isPJ ? cnpj : onlyDigits(co.cpf_responsavel),\n  email_id: ct.email || '',\n  mobile_no: ct.phone || ''\n};\nconst prescribersMap = {};\nconst patients = [];\nconst items = [];\nconst fp_patients = [];\nfor (const p of products) {\n  const item_code = p.sku;\n  const qty = Number(p.quantity) || 0;\n  items.push({ item_code, qty, rate: Number(p.price) || 0, sku: p.sku, item_name: p.name });\n  for (const pat of (p.patients || [])) {\n    const cpf = onlyDigits(pat.cpf);\n    patients.push({ patient_name: pat.nome, cpf, birth_date: pat.data_nascimento || '', mobile: pat.telefone || '', address_line1: ((pat.endereco || '') + ' ' + (pat.numero || '')).trim(), city: pat.municipio || '', state: pat.uf || '', pincode: onlyDigits(pat.cep), neighborhood: pat.bairro || '', country: 'Brazil' });\n    const crm = onlyDigits(pat.medico_crm);\n    const key = crm + '-' + (pat.medico_uf || '');\n    if (pat.medico_nome && !prescribersMap[key]) {\n      prescribersMap[key] = { prescriber_name: pat.medico_nome, council_type: 'CRM', council_number: pat.medico_crm, council_state: pat.medico_uf, council_status: 'Ativo' };\n    }\n    fp_patients.push({ item_code, cpf, patient_name: pat.nome, qty: Number(pat.quantidade) || 0 });\n  }\n}\nconst prescribers = Object.values(prescribersMap);\nreturn [{ json: { hubspot_deal_id: body.hubspot_deal_id || null, customer, prescribers, patients, items, fp_patients } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "c5d0f925-c62e-4dd1-b65f-c9ae9279ca8e",
      "name": "Normalizar Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.injemedpharma.com.br/api/resource/Customer",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "={{  JSON.stringify($json.customer)  }}",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "5459b32b-5bf2-46cb-a56a-3ef965bc88b8",
      "name": "ERP - Upsert Customer",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "g3maLxJRtt1GzXNR",
          "name": "ERPNext Injemed (temp)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Emite 1 item por prescritor (a partir do no Normalizar Payload).\n// Se nao houver prescritores, emite 1 item vazio para nao quebrar o fluxo.\nconst data = $('Normalizar Payload').first().json;\nconst prescribers = data.prescribers || [];\nif (prescribers.length === 0) {\n  return [{ json: { _skip: true } }];\n}\nreturn prescribers.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "36349075-ff7e-482d-916a-8856567e7dac",
      "name": "Preparar Prescritores"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.injemedpharma.com.br/api/resource/Prescriber",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{{ JSON.stringify($json) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        0
      ],
      "id": "bc42c7c6-8eec-4bed-b9d3-16681d425fdb",
      "name": "ERP - Upsert Prescriber",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "g3maLxJRtt1GzXNR",
          "name": "ERPNext Injemed (temp)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Emite 1 item por paciente (a partir do no Normalizar Payload).\nconst data = $('Normalizar Payload').first().json;\nconst patients = data.patients || [];\nif (patients.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n// inclui um indice para reconciliar com fp_patients depois\nreturn patients.map((p, i) => ({ json: Object.assign({ _idx: i }, p) }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "6a523b27-d8d4-4d22-92db-9958943e38c1",
      "name": "Preparar Pacientes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.injemedpharma.com.br/api/resource/Patient",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ doctype: 'Patient', patient_name: $json.patient_name, cpf: $json.cpf, birth_date: $json.birth_date, mobile: $json.mobile, city: $json.city, state: $json.state, country: $json.country }) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        0
      ],
      "id": "e833ab34-232e-438a-a495-67ac2e51fa84",
      "name": "ERP - Upsert Patient",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "g3maLxJRtt1GzXNR",
          "name": "ERPNext Injemed (temp)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Monta o body do Sales Order com items + fp_patients (doc 14, passo 3).\nconst data = $('Normalizar Payload').first().json;\nconst norm = data;\n\n// Resolve o nome (ID) do Customer criado/existente.\nlet customerName = (norm.customer && norm.customer.customer_name) || null;\ntry {\n  const cust = $('ERP - Upsert Customer').first().json;\n  if (cust && cust.data && cust.data.name) customerName = cust.data.name;\n} catch (e) {}\n\n// Monta mapa cpf -> patient_id a partir das saidas do Upsert Patient.\nconst patItems = $('ERP - Upsert Patient').all();\nconst cpfToPatient = {};\nconst onlyDigits = (s) => (s ? String(s).replace(/\\D/g, '') : '');\nfor (const it of patItems) {\n  const j = it.json || {};\n  const created = j.data || {};\n  const cpf = onlyDigits(created.cpf || j.cpf);\n  const pid = created.name || j.name;\n  if (cpf && pid) cpfToPatient[cpf] = pid;\n}\n\n// Constroi fp_patients ligando cpf -> patient_id.\nconst fp_patients = (norm.fp_patients || []).map(fp => ({\n  patient: cpfToPatient[onlyDigits(fp.cpf)] || null,\n  item_code: fp.item_code,\n  qty: fp.qty\n}));\n\nconst items = (norm.items || []).map(i => ({ item_code: i.item_code, qty: i.qty, rate: i.rate }));\n\nconst today = new Date().toISOString().slice(0, 10);\nconst salesOrder = {\n  doctype: 'Sales Order',\n  customer: customerName,\n  transaction_date: today,\n  delivery_date: today,\n  order_type: 'Sales',\n  items: items,\n  fp_patients: fp_patients\n};\n\nreturn [{ json: { sales_order_body: salesOrder, _customer: customerName, _hubspot_deal_id: norm.hubspot_deal_id || null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        0
      ],
      "id": "8367bc0e-f774-4066-835c-9cd8deb8f27b",
      "name": "Montar Sales Order"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.injemedpharma.com.br/api/resource/Sales Order",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.sales_order_body) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        0
      ],
      "id": "9e9250b5-58d5-4168-861f-b23d79fdb287",
      "name": "ERP - Criar Sales Order",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "g3maLxJRtt1GzXNR",
          "name": "ERPNext Injemed (temp)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.injemedpharma.com.br/api/method/frappe.client.submit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ doc: $json.data }) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2432,
        0
      ],
      "id": "500343fd-a19a-4b70-9cdc-2c159ebcc04b",
      "name": "ERP - Submeter Sales Order",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "g3maLxJRtt1GzXNR",
          "name": "ERPNext Injemed (temp)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.injemedpharma.com.br/api/method/future_production_auto_reserve_sales_order",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sales_order: $('ERP - Criar Sales Order').first().json.data.name }) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2656,
        0
      ],
      "id": "8bdc9170-186b-4316-a538-85a23e5b5e06",
      "name": "ERP - Auto Reservar",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "g3maLxJRtt1GzXNR",
          "name": "ERPNext Injemed (temp)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"sales_order\": \"={{ $('ERP - Criar Sales Order').first().json.data?.name || null }}\",\n  \"hubspot_deal_id\": \"={{ $('Montar Sales Order').first().json._hubspot_deal_id || null }}\",\n  \"reservas\": \"={{ JSON.stringify($json.message?.reservations || $json.message || $json) }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2880,
        0
      ],
      "id": "f4ae9b8a-6613-4909-8d1d-d0bb0090e5e6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Sincronizacao Pedido -> ERPNext (Processo Completo)\nConforme doc 14 (passos 0/2/3). Webhook recebe TODO o payload de uma vez (pedido 100%).\n\n**Fluxo:**\n1. Webhook POST /webhook/erp/sincronizar-pedido\n2. Normalizar Payload (mapeia companies->Customer, products->items, patients->Patient, medico->Prescriber, monta fp_patients)\n3. ERP - Upsert Customer (POST /api/resource/Customer; PJ=Company se CNPJ 14 digitos, senao Individual; group Comercial; territory Brazil)\n4. Preparar/Upsert Prescriber (CRM)\n5. Preparar/Upsert Patient (CPF 11 digitos)\n6. Montar Sales Order (liga cpf->patient_id; items + fp_patients; soma fp por item = qty do item)\n7. ERP - Criar Sales Order (POST /api/resource/Sales Order)\n8. ERP - Submeter (POST frappe.client.submit)\n9. ERP - Auto Reservar (POST future_production_auto_reserve_sales_order)\n10. Respond to Webhook (status + sales_order + reservas)\n\n**Credenciais:** ERPNext = Header Auth 'ERPNext Injemed (temp)'. URL direta https://erp.injemedpharma.com.br (Ignore SSL ON). SKUs referenciados do HubSpot products; criar/sincronizar item no ERP se faltar.\n**OBS:** chave temporaria sera rotacionada. Trocar credencial apos rotacao."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -352
      ],
      "id": "abe014ee-f735-4361-984d-44c54a5212ac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Preparar Itens: emite 1 item por produto para upsert de Item no ERPNext\nconst norm = $('Normalizar Payload').first().json;\nconst items = norm.items || [];\nconst seen = {};\nconst out = [];\nfor (const it of items) {\n  const code = String(it.item_code || it.sku || '').trim();\n  if (!code || seen[code]) continue;\n  seen[code] = true;\n  out.push({ json: {\n    item_code: code,\n    item_name: it.item_name || code,\n    item_group: 'Produtos',\n    stock_uom: 'Unidade',\n    is_stock_item: 0,\n    is_sales_item: 1,\n    is_purchase_item: 0\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ],
      "id": "15e026de-5a7f-4835-a94b-392e60c796ef",
      "name": "Preparar Itens"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.injemedpharma.com.br/api/resource/Item",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        0
      ],
      "id": "65b2fa44-5b68-4d4b-a1ce-b678ee76a888",
      "name": "ERP - Upsert Item",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "g3maLxJRtt1GzXNR",
          "name": "ERPNext Injemed (temp)"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload": {
      "main": [
        [
          {
            "node": "ERP - Upsert Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP - Upsert Customer": {
      "main": [
        [
          {
            "node": "Preparar Prescritores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prescritores": {
      "main": [
        [
          {
            "node": "ERP - Upsert Prescriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP - Upsert Prescriber": {
      "main": [
        [
          {
            "node": "Preparar Pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pacientes": {
      "main": [
        [
          {
            "node": "ERP - Upsert Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP - Upsert Patient": {
      "main": [
        [
          {
            "node": "Preparar Itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Sales Order": {
      "main": [
        [
          {
            "node": "ERP - Criar Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP - Criar Sales Order": {
      "main": [
        [
          {
            "node": "ERP - Submeter Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP - Submeter Sales Order": {
      "main": [
        [
          {
            "node": "ERP - Auto Reservar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP - Auto Reservar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Itens": {
      "main": [
        [
          {
            "node": "ERP - Upsert Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP - Upsert Item": {
      "main": [
        [
          {
            "node": "Montar Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "hubspot_deal_id": "60056551336",
            "companies": [
              {
                "name": "gabriel maglhaes",
                "cnpj": "",
                "cpf_responsavel": "204.022.317-75"
              }
            ],
            "contacts": [
              {
                "firstname": "teste",
                "lastname": "sei la",
                "email": "teste@example.com",
                "phone": ""
              }
            ],
            "products": [
              {
                "sku": "123",
                "quantity": 1,
                "price": 2520,
                "name": "teste",
                "patients": [
                  {
                    "cpf": "204.022.317-75",
                    "nome": "GISANA BALTAR SOARES",
                    "data_nascimento": "1980-01-01",
                    "telefone": "",
                    "endereco": "",
                    "numero": "",
                    "municipio": "",
                    "uf": "",
                    "cep": "",
                    "bairro": "",
                    "medico_crm": "",
                    "medico_uf": "",
                    "medico_nome": "",
                    "quantidade": 1
                  }
                ]
              }
            ]
          }
        }
      }
    ]
  },
  "versionId": "5be11867-6dca-416e-a3c3-59598efc072e",
  "activeVersionId": "00ef3640-d561-4f56-a772-d1d0d3ae98b7",
  "versionCounter": 135,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-29T16:40:43.625Z",
      "createdAt": "2026-05-29T16:40:43.625Z",
      "role": "workflow:owner",
      "workflowId": "fRn3EyKJLWIxEX3l",
      "projectId": "VLtRlPiLibkB5uHW",
      "project": {
        "updatedAt": "2024-10-13T18:15:04.874Z",
        "createdAt": "2024-10-13T18:08:14.321Z",
        "id": "VLtRlPiLibkB5uHW",
        "name": "Wesley Cairo <wesleycairo@cairocorp.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "18fc76c2-a4b4-48ba-a2aa-fd2cb01d7648"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-29T17:17:42.671Z",
    "createdAt": "2026-05-29T17:17:14.658Z",
    "versionId": "00ef3640-d561-4f56-a772-d1d0d3ae98b7",
    "workflowId": "fRn3EyKJLWIxEX3l",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "erp/sincronizar-pedido",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "f071773d-0039-48ce-b0b2-0306916b90f5",
        "name": "Webhook",
        "webhookId": "d00c4d3d-f832-4341-935d-7bf8568b0207"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst onlyDigits = (s) => (s ? String(s).replace(/\\D/g, '') : '');\nconst companies = body.companies || [];\nconst contacts = body.contacts || [];\nconst products = body.products || [];\nconst co = companies[0] || {};\nconst ct = contacts[0] || {};\nconst cnpj = onlyDigits(co.cnpj);\nconst isPJ = cnpj.length === 14;\nconst customer = {\n  customer_name: co.name || ((ct.firstname || '') + ' ' + (ct.lastname || '')).trim() || 'Cliente HubSpot',\n  customer_type: isPJ ? 'Company' : 'Individual',\n  customer_group: 'Comercial',\n  territory: 'Brazil',\n  tax_id: isPJ ? cnpj : onlyDigits(co.cpf_responsavel),\n  email_id: ct.email || '',\n  mobile_no: ct.phone || ''\n};\nconst prescribersMap = {};\nconst patients = [];\nconst items = [];\nconst fp_patients = [];\nfor (const p of products) {\n  const item_code = p.sku;\n  const qty = Number(p.quantity) || 0;\n  items.push({ item_code, qty, rate: Number(p.price) || 0, sku: p.sku, item_name: p.name });\n  for (const pat of (p.patients || [])) {\n    const cpf = onlyDigits(pat.cpf);\n    patients.push({ patient_name: pat.nome, cpf, birth_date: pat.data_nascimento || '', mobile: pat.telefone || '', address_line1: ((pat.endereco || '') + ' ' + (pat.numero || '')).trim(), city: pat.municipio || '', state: pat.uf || '', pincode: onlyDigits(pat.cep), neighborhood: pat.bairro || '', country: 'Brazil' });\n    const crm = onlyDigits(pat.medico_crm);\n    const key = crm + '-' + (pat.medico_uf || '');\n    if (pat.medico_nome && !prescribersMap[key]) {\n      prescribersMap[key] = { prescriber_name: pat.medico_nome, council_type: 'CRM', council_number: pat.medico_crm, council_state: pat.medico_uf, council_status: 'Ativo' };\n    }\n    fp_patients.push({ item_code, cpf, patient_name: pat.nome, qty: Number(pat.quantidade) || 0 });\n  }\n}\nconst prescribers = Object.values(prescribersMap);\nreturn [{ json: { hubspot_deal_id: body.hubspot_deal_id || null, customer, prescribers, patients, items, fp_patients } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "c5d0f925-c62e-4dd1-b65f-c9ae9279ca8e",
        "name": "Normalizar Payload"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://erp.injemedpharma.com.br/api/resource/Customer",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "={{  JSON.stringify($json.customer)  }}",
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          304,
          0
        ],
        "id": "5459b32b-5bf2-46cb-a56a-3ef965bc88b8",
        "name": "ERP - Upsert Customer",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "g3maLxJRtt1GzXNR",
            "name": "ERPNext Injemed (temp)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Emite 1 item por prescritor (a partir do no Normalizar Payload).\n// Se nao houver prescritores, emite 1 item vazio para nao quebrar o fluxo.\nconst data = $('Normalizar Payload').first().json;\nconst prescribers = data.prescribers || [];\nif (prescribers.length === 0) {\n  return [{ json: { _skip: true } }];\n}\nreturn prescribers.map(p => ({ json: p }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          0
        ],
        "id": "36349075-ff7e-482d-916a-8856567e7dac",
        "name": "Preparar Prescritores"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://erp.injemedpharma.com.br/api/resource/Prescriber",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{{ JSON.stringify($json) }}",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          384,
          0
        ],
        "id": "bc42c7c6-8eec-4bed-b9d3-16681d425fdb",
        "name": "ERP - Upsert Prescriber",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "g3maLxJRtt1GzXNR",
            "name": "ERPNext Injemed (temp)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Emite 1 item por paciente (a partir do no Normalizar Payload).\nconst data = $('Normalizar Payload').first().json;\nconst patients = data.patients || [];\nif (patients.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n// inclui um indice para reconciliar com fp_patients depois\nreturn patients.map((p, i) => ({ json: Object.assign({ _idx: i }, p) }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          0
        ],
        "id": "6a523b27-d8d4-4d22-92db-9958943e38c1",
        "name": "Preparar Pacientes"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://erp.injemedpharma.com.br/api/resource/Patient",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ doctype: 'Patient', patient_name: $json.patient_name, cpf: $json.cpf, birth_date: $json.birth_date, mobile: $json.mobile, city: $json.city, state: $json.state, country: $json.country }) }}",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          496,
          0
        ],
        "id": "e833ab34-232e-438a-a495-67ac2e51fa84",
        "name": "ERP - Upsert Patient",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "g3maLxJRtt1GzXNR",
            "name": "ERPNext Injemed (temp)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Monta o body do Sales Order com items + fp_patients (doc 14, passo 3).\nconst data = $('Normalizar Payload').first().json;\nconst norm = data;\n\n// Resolve o nome (ID) do Customer criado/existente.\nlet customerName = (norm.customer && norm.customer.customer_name) || null;\ntry {\n  const cust = $('ERP - Upsert Customer').first().json;\n  if (cust && cust.data && cust.data.name) customerName = cust.data.name;\n} catch (e) {}\n\n// Monta mapa cpf -> patient_id a partir das saidas do Upsert Patient.\nconst patItems = $('ERP - Upsert Patient').all();\nconst cpfToPatient = {};\nconst onlyDigits = (s) => (s ? String(s).replace(/\\D/g, '') : '');\nfor (const it of patItems) {\n  const j = it.json || {};\n  const created = j.data || {};\n  const cpf = onlyDigits(created.cpf || j.cpf);\n  const pid = created.name || j.name;\n  if (cpf && pid) cpfToPatient[cpf] = pid;\n}\n\n// Constroi fp_patients ligando cpf -> patient_id.\nconst fp_patients = (norm.fp_patients || []).map(fp => ({\n  patient: cpfToPatient[onlyDigits(fp.cpf)] || null,\n  item_code: fp.item_code,\n  qty: fp.qty\n}));\n\nconst items = (norm.items || []).map(i => ({ item_code: i.item_code, qty: i.qty, rate: i.rate }));\n\nconst today = new Date().toISOString().slice(0, 10);\nconst salesOrder = {\n  doctype: 'Sales Order',\n  customer: customerName,\n  transaction_date: today,\n  delivery_date: today,\n  order_type: 'Sales',\n  items: items,\n  fp_patients: fp_patients\n};\n\nreturn [{ json: { sales_order_body: salesOrder, _customer: customerName, _hubspot_deal_id: norm.hubspot_deal_id || null } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          0
        ],
        "id": "8367bc0e-f774-4066-835c-9cd8deb8f27b",
        "name": "Montar Sales Order"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://erp.injemedpharma.com.br/api/resource/Sales Order",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.sales_order_body) }}",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          576,
          0
        ],
        "id": "9e9250b5-58d5-4168-861f-b23d79fdb287",
        "name": "ERP - Criar Sales Order",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "g3maLxJRtt1GzXNR",
            "name": "ERPNext Injemed (temp)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://erp.injemedpharma.com.br/api/method/frappe.client.submit",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ doc: $json.data }) }}",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          608,
          0
        ],
        "id": "500343fd-a19a-4b70-9cdc-2c159ebcc04b",
        "name": "ERP - Submeter Sales Order",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "g3maLxJRtt1GzXNR",
            "name": "ERPNext Injemed (temp)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://erp.injemedpharma.com.br/api/method/future_production_auto_reserve_sales_order",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ sales_order: $('ERP - Criar Sales Order').first().json.data.name }) }}",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          816,
          0
        ],
        "id": "8bdc9170-186b-4316-a538-85a23e5b5e06",
        "name": "ERP - Auto Reservar",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "g3maLxJRtt1GzXNR",
            "name": "ERPNext Injemed (temp)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"ok\",\n  \"sales_order\": \"={{ $('ERP - Criar Sales Order').first().json.data?.name || null }}\",\n  \"hubspot_deal_id\": \"={{ $('Montar Sales Order').first().json._hubspot_deal_id || null }}\",\n  \"reservas\": \"={{ JSON.stringify($json.message?.reservations || $json.message || $json) }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1024,
          0
        ],
        "id": "f4ae9b8a-6613-4909-8d1d-d0bb0090e5e6",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "content": "## Sincronizacao Pedido -> ERPNext (Processo Completo)\nConforme doc 14 (passos 0/2/3). Webhook recebe TODO o payload de uma vez (pedido 100%).\n\n**Fluxo:**\n1. Webhook POST /webhook/erp/sincronizar-pedido\n2. Normalizar Payload (mapeia companies->Customer, products->items, patients->Patient, medico->Prescriber, monta fp_patients)\n3. ERP - Upsert Customer (POST /api/resource/Customer; PJ=Company se CNPJ 14 digitos, senao Individual; group Comercial; territory Brazil)\n4. Preparar/Upsert Prescriber (CRM)\n5. Preparar/Upsert Patient (CPF 11 digitos)\n6. Montar Sales Order (liga cpf->patient_id; items + fp_patients; soma fp por item = qty do item)\n7. ERP - Criar Sales Order (POST /api/resource/Sales Order)\n8. ERP - Submeter (POST frappe.client.submit)\n9. ERP - Auto Reservar (POST future_production_auto_reserve_sales_order)\n10. Respond to Webhook (status + sales_order + reservas)\n\n**Credenciais:** ERPNext = Header Auth 'ERPNext Injemed (temp)'. URL direta https://erp.injemedpharma.com.br (Ignore SSL ON). SKUs referenciados do HubSpot products; criar/sincronizar item no ERP se faltar.\n**OBS:** chave temporaria sera rotacionada. Trocar credencial apos rotacao."
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          144,
          -352
        ],
        "id": "abe014ee-f735-4361-984d-44c54a5212ac",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalizar Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Payload": {
        "main": [
          [
            {
              "node": "ERP - Upsert Customer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ERP - Upsert Customer": {
        "main": [
          [
            {
              "node": "Preparar Prescritores",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Prescritores": {
        "main": [
          [
            {
              "node": "ERP - Upsert Prescriber",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ERP - Upsert Prescriber": {
        "main": [
          [
            {
              "node": "Preparar Pacientes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Pacientes": {
        "main": [
          [
            {
              "node": "ERP - Upsert Patient",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ERP - Upsert Patient": {
        "main": [
          [
            {
              "node": "Montar Sales Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Sales Order": {
        "main": [
          [
            {
              "node": "ERP - Criar Sales Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ERP - Criar Sales Order": {
        "main": [
          [
            {
              "node": "ERP - Submeter Sales Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ERP - Submeter Sales Order": {
        "main": [
          [
            {
              "node": "ERP - Auto Reservar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ERP - Auto Reservar": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wesley Cairo",
    "name": "Version 00ef3640",
    "description": "Processo completo doc 14 (passos 0/2/3): webhook unico -> upsert Customer/Prescriber/Patient -> Sales Order com fp_patients -> submit -> auto-reservar. Credencial Header Auth ERPNext, URL direta, Ignore SSL.",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-29T17:17:42.667Z",
        "id": 408,
        "workflowId": "fRn3EyKJLWIxEX3l",
        "versionId": "00ef3640-d561-4f56-a772-d1d0d3ae98b7",
        "event": "activated",
        "userId": "18fc76c2-a4b4-48ba-a2aa-fd2cb01d7648"
      }
    ]
  }
}